@import './partials/reset.scss';
@import './partials/variables.scss';

body {
  font-family: $normal-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
button {
  font-family: $heavy-font;
}

button {
  cursor: pointer;
}

.main-header {
    background-color: $color-blue;
    color: #FFF;
    padding: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 9999;

    a {
        color: #FFF;
        font-size: 35px;
    }
}

#root {
    padding-top: 80px;
}

.main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-size: 18px;
        font-weight: bolder;
        color: #FFF;
        margin: 5px;
        padding: 12px 15px;
    }
}

.login-btn {
  background-color: #fff;
  border-radius: 200px;
  padding: 15px;
  display: block;
  color: $color-blue;
  margin: 15px auto;
  width: 95%;
  max-width: 360px;
  font-size: 18px;
}

.logged-out-layout {
  background-color: $color-blue;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged-out-inner {
  max-width: 720px;
  margin: auto;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 25px;
  }

  .forgot-password {
    font-weight: bolder;
    color: #70cfec;
    padding: 8px;
    margin-top: 10px;
    display: block;
  }
}

.post-preview {
  background-color: #fff;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.65);
  padding: 20px 25px;
  max-width: 85%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 6px;

  .text {
    font-size: 22px;
    font-weight: bolder;
    padding: 15px 10px 15px;
    margin: 10px auto;
    background-color: #eee;
    border-radius: 3px;
  }

  .details-top {
    text-align: right;

    .timestamp {
      color: #aaa;
      font-size: 15px;
    }
  }

  .tags {
    display: flex;

    span {
      margin: 5px;
      background-color: #eee;
      padding: 8px;
      font-size: 13px;
    }
  }

  .controls-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row wrap;
    align-items: center;

    .vote-wrapper {
      button,
      span {
        margin: 5px;
      }
    }

    .vote {
      border: none;
      display: inline-block;
      text-indent: -999999px;
      background-color: $color-blue;
      padding: 15px 25px;
      border-radius: 3px;

      &.up {
        background: $color-blue url('./../images/votes-up.png') no-repeat center
          center;
        background-size: 65% auto;
      }

      &.down {
        background: $color-blue url('./../images/votes-down.png') no-repeat
          center center;
        background-size: 65% auto;
      }
    }

    .votes {
      font-weight: bolder;
      font-size: 20px;
      padding: 10px;
    } }
}

.text {
    font-size: 22px;
    font-weight: bolder;
    padding: 15px 10px 15px;
    margin: 10px auto;
    background-color: #eee;
    border-radius: 3px;
}

.report {
    color: $color-red;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    opacity: 0.75;
    padding: 5px 12px;

    &:hover {
        opacity: 1;
    }
}

.post-preview-list {

    .post-preview {
        margin-bottom: 6px;
    }

}

.comment-list {
    padding: 20px 15px;

    .comment-item {
        margin-bottom: 5px;
    }
}

.comment-item {
    
    background-color: #FFF;
    border: solid thin #aaa;
    padding: 15px;
    border-radius: 6px;
    
    .text {
        padding: 15px;
        background-color: #eee;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .report {
        font-size: 16px;
    }
}

.controls-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.comment-btn {
  background-color: none;
  border: none;
  margin: auto auto auto 5px;
  i {
    font-size: 25px;
    color: $color-blue;
  }
}