@import './partials/reset.scss';
@import './partials/variables.scss';

body {
  font-family: $normal-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
button {
  font-family: $heavy-font;
}

button {
  cursor: pointer;
}

.login-btn {
  background-color: #fff;
  border-radius: 200px;
  padding: 15px;
  display: block;
  color: $color-blue;
  margin: 15px auto;
  width: 95%;
  max-width: 360px;
  font-size: 18px;
}

.logged-out-layout {
  background-color: $color-blue;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged-out-inner {
  max-width: 720px;
  margin: auto;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 25px;
  }

  .forgot-password {
    font-weight: bolder;
    color: #70cfec;
    padding: 8px;
    margin-top: 10px;
    display: block;
  }
}

.post-preview-list {
  .post-preview {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.post-preview {
  background-color: #fff;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.65);
  padding: 20px 25px;
  max-width: 85%;
  margin: auto;
  border-radius: 6px;

  .text {
    font-size: 22px;
    font-weight: bolder;
    padding: 15px 10px 15px;
    margin: 10px auto;
    background-color: #eee;
    border-radius: 3px;
  }

  .details-top {
    text-align: right;

    .timestamp {
      color: #aaa;
      font-size: 15px;
    }
  }

  .tags {
    display: flex;

    span {
      margin: 5px;
      background-color: #eee;
      padding: 8px;
      font-size: 13px;
    }
  }

  .controls-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row wrap;
    align-items: center;

    .vote-wrapper {
      button,
      span {
        margin: 5px;
      }
    }

    .vote {
      border: none;
      display: inline-block;
      text-indent: -999999px;
      background-color: $color-blue;
      padding: 15px 25px;
      border-radius: 3px;

      &.up {
        background: $color-blue url('./../images/votes-up.png') no-repeat center
          center;
        background-size: 65% auto;
      }

      &.down {
        background: $color-blue url('./../images/votes-down.png') no-repeat
          center center;
        background-size: 65% auto;
      }
    }

    .votes {
      font-weight: bolder;
      font-size: 20px;
      padding: 10px;
    }

    .report {
      color: $color-red;
      border: none;
      font-weight: bolder;
      font-size: 20px;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.comment-btn {
  background-color: none;
  border: none;
  margin: auto auto auto 5px;
  i {
    font-size: 25px;
    color: $color-blue;
  }
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  label {
    padding: 0.5rem;
  }
}

.modal {
  width: 25rem;
  max-width: 50%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translatex(-50%);
  z-index: 999;

  button {
    margin: auto;
    border-radius: 10px;
    font-size: 25px;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
  }
}

.modal-header {
  padding: 2rem;
  background: #b44e59;
  color: white;
  text-align: center;
}

.modal-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal-btn-r {
  background: $color-red;
}

.modal-btn-c {
  background: $color-blue;
}

.modal-btn-confirm {
  background: $color-blue;
}

.modal-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 20px;
    padding: 1rem;
  }

  h2 {
    font-size: 25px;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
